<div class="navbar-area">
  <nav class="navbar navbar-expand-lg">
      <div class="container nav-container">
          <div class="responsive-mobile-menu">
              <button class="menu toggle-btn d-block d-lg-none" data-target="#themefie_main_menu"
              aria-expanded="false" aria-label="Toggle navigation">
                  <span class="icon-left"></span>
                  <span class="icon-right"></span>
              </button>
          </div>
          <div class="logo">
              <a class="main-logo"><img src="assets/img/logo.png" alt="img"></a>
          </div>
          <!-- <div class="nav-right-part nav-right-part-mobile">
              <ul>
                  <li><a class="search header-search" ><i class="fa fa-search"></i></a></li>
                  <li class=""><a class="login-btn" >Login</a></li>
                  <li><a class="shopping-cart-btn" ><i class="fa fa-shopping-cart"></i><span>2</span></a></li>
              </ul>
          </div> -->
          <div class="collapse navbar-collapse" id="themefie_main_menu">
              <ul class="navbar-nav menu-open">
                  <li class="menu-item-has-children current-menu-item">
                      <a >MY HOME</a>
                      <ul class="sub-menu">
                          <li><a href="index.html">My Home</a></li>
                      </ul>
                  </li>
                  <li class="menu-item-has-children current-menu-item">
                      <a >SEARCH</a>
                      <ul class="sub-menu">
                          <li><a>Regular Search</a></li>
                          <li><a>Advance Search</a></li>
                          <li><a>Keyword Search</a></li>
                          <li><a>Seaarch By Id</a></li>
                      </ul>
                  </li>
                  <li class="menu-item-has-children current-menu-item">
                      <a >MATCHES <span class="badge badge-light">111</span></a>
                      <ul class="sub-menu">
                          <li><a>All Matchs</a></li>
                          <li><a>New Matches</a></li>
                          <li><a>Premium Matches</a></li>
                      </ul>
                  </li>
                  <li class="menu-item-has-children current-menu-item">
                      <a href="#">MAILBOX</a>
                  </li>
                  <li>
                      <a href="#">UPGRADE NOW</a>
                  </li>
              </ul>
          </div>
          <div class="nav-right-part nav-right-part-desktop">
              <ul>
                  <li><a class="search header-search"><i class="fa fa-bell"></i></a></li>
                  <li><a class="search header-search"><i class="fa fa-user-circle"></i></a></li>
              </ul>
          </div>
      </div>
  </nav>
</div>
