<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget widget">
                    <a class="logo" href="#"><img src="assets/img/logo.png" alt="#"></a>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget widget widget_link">
                    <h4 class="widget-title">Links.</h4>
                    <ul>
                        <li><a href="#">Mandabams</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Feedbacks</a></li>
                        <li><a href="#">24/7 Live helps</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget widget widget_link">
                    <h4 class="widget-title">About Us.</h4>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Sign in</a></li>
                        <li><a href="#">My account</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget widget widget_contact">
                    <h4 class="widget-title">Contact Us.</h4>
                    <p>869, Miyan road,<br>Y4 456 Mona Town.<br>Office No 3456.<br>info@company.com<br>+234-58286909</p>
                    <ul class="social-area">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->

<!--Footer bottom-->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <div class="copyright-area">
                    <p>Copyright © 2022 Matrimony.com, the most trusted matrimony brand. </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="payment-area text-lg-right">
                    <ul>
                        <li><a href="#"><img src="assets/img/payment/1.png" alt="img"></a></li>
                        <li><a href="#"><img src="assets/img/payment/2.png" alt="img"></a></li>
                        <li><a href="#"><img src="assets/img/payment/3.png" alt="img"></a></li>
                        <li><a href="#"><img src="assets/img/payment/1.png" alt="img"></a></li>
                        <li><a href="#"><img src="assets/img/payment/2.png" alt="img"></a></li>
                        <li><a href="#"><img src="assets/img/payment/3.png" alt="img"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer bottom-->

<!-- back to top area start -->
<div class="back-to-top">
    <span class="back-top"><i class="la la-arrow-up"></i></span>
</div>
<!-- back to top area end -->
