<app-header></app-header>
<!-- Banner Area start -->
<app-banner-area></app-banner-area>
<!-- Banner Area End -->

    <!-- Service-Area Start-->
<app-service-area></app-service-area>
  <!-- Service-Area End-->

    <!-- Product-Area Start-->
<app-product-area></app-product-area>
    <!-- Product-Area End-->

    <!-- Offer-Area Start-->
<app-offer-area></app-offer-area>
    <!-- Offer-Area End-->

    <!-- Product-Area Start-->
    <app-search></app-search>
    <!-- Product-Area End-->

    <!-- discount-product-Area Start-->
<app-discount-area></app-discount-area>
    <!-- discount-product-Area End-->

    <!-- Product-Area Start-->
    <app-matches></app-matches>
    <!-- Product-Area End-->

    <!-- subscribe-Area Start-->
<app-subscribe-area></app-subscribe-area>
    <!-- subscribe-Area end-->

    <!-- App Footer -->
    <app-footer></app-footer>
