<section class="banner-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 align-self-center">
              <div class="banner-inner">
                  <h6>Welcome to Matrimony Application</h6>
                  <h1>Indias No.1 matrimony site. </h1>
              </div>
          </div>
          <div class="col-lg-5 d-none d-lg-block">
              <div class="product-thumbnail-wrapper">
                  <div class="single-thumbnail-slider">
                      <div class="slider-item">
                          <img src="assets/img/banner/1.png" alt="item">
                      </div>
                      <div class="slider-item">
                          <img src="assets/img/banner/1.png" alt="item">
                      </div>
                      <div class="slider-item">
                          <img src="assets/img/banner/1.png" alt="item">
                      </div>
                  </div>
                  <div class="product-thumbnail-carousel">
                      <div class="single-thumbnail-item">
                          <img src="assets/img/banner/1.png" alt="item">
                      </div>
                      <div class="single-thumbnail-item">
                          <img src="assets/img/banner/1.png" alt="item">
                      </div>
                      <div class="single-thumbnail-item">
                          <img src="assets/img/banner/1.png" alt="item">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
