<section class="service-area bg-grey pd-top-66 pd-bottom-50">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-12">
              <div class="offer-wrap text-center">
                  <h2>Super Offer <span>30% off </span></h2>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-service-wrap">
                  <div class="media">
                      <div class="thumb">
                          <img src="assets/img/icon/wedding.png" alt="img">
                      </div>
                      <div class="media-body">
                          <h6>We will help you</h6>
                          <p>Get dedicated Manager</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-service-wrap">
                  <div class="media">
                      <div class="thumb">
                          <img src="assets/img/icon/like.png" alt="img">
                      </div>
                      <div class="media-body">
                          <h6>Save 20%</h6>
                          <p>Get offer for every day, month</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-service-wrap">
                  <div class="media">
                      <div class="thumb">
                          <img src="assets/img/icon/phone-alt.png" alt="img">
                      </div>
                      <div class="media-body">
                          <h6>Call Today Us</h6>
                          <p>Call us for any query</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
