<section class="subscribe-area pd-top-80 pd-bottom-80" style="background: url(assets/img/newsletter/bg.png);">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="subscribe-wrap">
                  <div class="row justify-content-center">
                      <div class="col-lg-10">
                          <div class="single-subscribe-wrap">
                              <input type="text" placeholder="Enter your mail or number here">
                              <button class="btn btn-black">SUBSCRIBE FOR MATCH</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
