<section>
  <div class="container-fluid bg-filter-communication pt-0 pb-0">
    <div class="container custom-container">
      <div class="row mt-0 mb-0">
        <div class="col-md-12 col-sm-12 col-12 float-left" style="margin-top: 63px;">
          <div class="regular-tabs">
          </div>
          <div class="tabs-center-width">
            <span class="regular-tabs-on moz-position-tab">Regular</span>
            <div class="tooltip-addon">
              <span class="prime-tabs-off moz-margin-tab">
                <img src="https://imgs.tamilmatrimony.com/bmimgs/desktop-images/toggle-normal-prime.png">
              </span>
            </div>
          </div>
          <div class="regular-tabs">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters bg-filter-communication mt-0 mb-20">
    <div class="col-md-12 col-sm-12 col-12 pl-4 fw-black big-txt1">No Member Awaiting Your Response </div>
  </div>
  <div>
    <div class="row no-gutters">
      <div class="col-md-12 col-sm-12 col-12 my-md-2">
      </div>
    </div>
    <div style="text-align: center;padding-top: 250px;min-height: 600px;"> Currently, there is no communication in this
      folder </div>
  </div>
</section>
<span id="footerstart" style="width: 100%;float: left;">
</span>
