<div class="offer-area bg-grey pd-top-66 pd-bottom-72">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 d-none d-md-block">
              <div class="thumb">
                  <img src="assets/img/offer/1.png" alt="img">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="offer-wrap text-center">
                  <h6>Contact genuine profiles with 100% verified mobile numbers</h6>
                  <p>Your search for the perfect match ends here!<br>BeChoosy with Biggest Matrimony Service for Tamils<br> Lakhs of Tamils have found their life partner at Tamil Matrimony!</p>
              </div>
          </div>
          <div class="col-lg-3 d-none d-md-block">
              <div class="thumb">
                  <img src="assets/img/offer/2.png" alt="img">
              </div>
          </div>
      </div>
  </div>
</div>
