<div class="discount-product-area bg-pink pd-top-80 pd-bottom-50">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-6">
              <div class="single-discount-wrap">
                  <div class="thumb">
                      <img src="assets/img/discount/1.png" alt="img">
                  </div>
                  <div class="wrap-details">
                    <h6><a >Bride Name</a></h6>
                </div>
                <div class="hover-wrap-details text-center">
                    <h6>Profile Protected</h6>
                    <h2>Upgrade to Unlock</h2>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="single-discount-wrap">
                  <div class="thumb">
                      <img src="assets/img/discount/3.png" alt="img">
                  </div>
                  <div class="wrap-details">
                    <h6><a >Bride Name</a></h6>
                </div>
                <div class="hover-wrap-details text-center">
                    <h6>Profile Protected</h6>
                    <h2>Upgrade to Unlock</h2>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="single-discount-wrap">
                  <div class="thumb">
                      <img src="assets/img/discount/2.png" alt="img">
                  </div>
                  <div class="wrap-details">
                      <h6><a >Bride Name</a></h6>
                  </div>
                  <div class="hover-wrap-details text-center">
                      <h6>Profile Protected</h6>
                      <h2>Upgrade to Unlock</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
